doctype html
html
  head
    title How Can We Help?
  body
    p Hi #{clientName},

    p I hope you're doing well. I'm writing to follow up on my previous email regarding [topic/offer]. I wanted to see if there are any questions or additional information you need from us at CODECHIP.

    p Our goal is to support you in any way we can, so please let us know how we can assist you further.

    p Looking forward to your response.

    p Best regards,
    p Mansab Mir
    p Founder & CEO, CODECHIP
    p www.codechip.in
