doctype html
html
  head
    title Just Checking In
  body
    p Hi #{clientName},

    p I hope this email finds you well. I wanted to follow up regarding my previous message about [topic/offer]. I understand you might be busy and I just wanted to check if you had any updates.

    p At CODECHIP, we are excited about the opportunity to assist you with [specific service]. If you have any questions or need further information, please don't hesitate to reach out.

    p Looking forward to hearing from you.

    p Best regards,
    p Mansab Mir
    p Founder & CEO, CODECHIP
    p www.codechip.in
