doctype html
html
  head
    title Following Up Again
  body
    p Hi #{clientName},

    p I hope you're well. I'm following up once more regarding my previous emails about [topic/offer]. I understand you may be very busy, so I wanted to make sure this didn’t slip through the cracks.

    p At CODECHIP, we are ready to assist you with [specific service]. Please let us know if there’s a convenient time to discuss this further or if you need any additional information from us.

    p Looking forward to your reply.

    p Best regards,
    p Mansab Mir
    p Founder & CEO, CODECHIP
    p www.codechip.in
