doctype html
head
  title Email 
  style.
    .signature-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-width: 400px;
    font-family: Arial, sans-serif;
    display: flex;
    }
    .signature-card img {
    max-width: 100px;
    border-radius: 50%;
    }
    .signature-card .info {
    margin-left: 16px;
    }
    .signature-card .info p {
    margin: 4px 0;
    }
    .signature-card .info .name {
    font-weight: bold;
    font-size: 1.2em;
    }
p
  | Dear #{name}
  | ,
p
  | I hope this email finds you well. Following up on a conversation you had with my colleague, I wanted to introduce you to the high-quality and affordable web and app development services we offer at Codechip.
p
  | Our web development services range from $300 USD to $2200 USD, and our app development services range from $450 USD to $3000 USD, tailored to fit your unique needs and budget.
p
  | Check out our previous work to see the quality we deliver:
  br
  a(href='https://www.codechip.in/portfolio') Our Projects
p
  | Check out all of our services:
  br
  a(href='https://www.codechip.in/services') Our Services
p
  | Could we schedule a meeting to discuss your project in detail? Please let me know your availability.
p Looking forward to the opportunity to collaborate with you.
p Best regards,
p Mansab Mir
.signature-card
  img(src='https://i.ibb.co/FJR8gHS/IMG-20230428-003913.jpg', alt="Mansab Mir's Signature")
  .info
    p.name Mansab Mir
    p Sr. Sales Executive
    p Email: mansabmir@codechip.in
    p
      | website:
      a(href='https://www.codechip.in', target='_blank') codechip.in
    p Contac: 8448728057
