doctype html
head
  title Email 
  style.
    .signature-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-width: 400px;
    font-family: Arial, sans-serif;
    display: flex;
    }
    .signature-card img {
    max-width: 100px;
    border-radius: 50%;
    }
    .signature-card .info {
    margin-left: 16px;
    }
    .signature-card .info p {
    margin: 4px 0;
    }
    .signature-card .info .name {
    font-weight: bold;
    font-size: 1.2em;
    }
p Dear #{name},
p
  | I hope you are doing well. My colleague mentioned that you might be interested in website and application development services, and I wanted to personally reach out to explore how we can assist you.
p
  | At Codechip, we pride ourselves on delivering custom web and app solutions that perfectly match our clients&apos; visions and requirements. Our pricing for web development ranges from $300 USD to $2200 USD, while app development services are priced between
  | $450 USD and $3000 USD, depending on the project&apos;s specifics.
p
  | To give you a better idea of what we can achieve, please have a look at our portfolio:
  br
  a(href='https://www.codechip.in/portfolio') Our Projects
p
  | You can all of our services here:
  br
  a(href='https://www.codechip.in/services') Our Services
p
  | If you&apos;re open to discussing this further, I&apos;d love to schedule a meeting at your convenience. Please let me know when you&apos;re available, and I will set up the meeting accordingly.
p Looking forward to the opportunity to collaborate.
p Best regards,
p Mansab Mir
.signature-card
  img(src='https://i.ibb.co/FJR8gHS/IMG-20230428-003913.jpg', alt="Mansab Mir's Signature")
  .info
    p.name Mansab Mir
    p Sr. Sales Executive
    p Email: mansabmir@codechip.in
    p
      | website:
      a(href='https://www.codechip.in', target='_blank') www.codechip.in
    p Contac: 8448728057
