doctype html
head
  title Email 
  style.
    .signature-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-width: 400px;
    font-family: Arial, sans-serif;
    display: flex;
    }
    .signature-card img {
    max-width: 100px;
    border-radius: 50%;
    }
    .signature-card .info {
    margin-left: 16px;
    }
    .signature-card .info p {
    margin: 4px 0;
    }
    .signature-card .info .name {
    font-weight: bold;
    font-size: 1.2em;
    }
p Dear #{name},
p
  | Greetings! I am reaching out to you after being informed by my colleague that you are looking for professional website and application development services.
p
  | At Codechip, we are dedicated to crafting exceptional digital experiences. Our team excels in both web and app development, with pricing starting from $300 USD for web projects and $450 USD for app projects. The final cost will depend on the complexity
  | and features required.
p
  | You can view some examples of our work here:
  br
  a(href='https://www.codechip.in/portfolio') Our Portfolio
p
  | You can view all of our services here:
  br
  a(href='https://www.codechip.in/services') Our Services
p
  | I would love to discuss how we can support your project. Could we arrange a time to talk? Please suggest a date and time that suits you.
p
  | Thank you for considering us. I am excited about the possibility of working together.
p Best regards,
p Mansab Mir
.signature-card
  img(src='https://i.ibb.co/FJR8gHS/IMG-20230428-003913.jpg', alt="Mansab Mir's Signature")
  .info
    p.name Mansab Mir
    p Sr. Sales Executive
    p Email: mansabmir@codechip.in
    p
      | website:
      a(href='https://www.codechip.in', target='_blank') www.codechip.in
    p Contac: 8448728057
