doctype html
head
  title Email
  style.
    .signature-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-width: 400px;
    font-family: Arial, sans-serif;
    display: flex;
    }
    .signature-card img {
    max-width: 100px;
    border-radius: 50%;
    }
    .signature-card .info {
    margin-left: 16px;
    }
    .signature-card .info p {
    margin: 4px 0;
    }
    .signature-card .info .name {
    font-weight: bold;
    font-size: 1.2em;
    }
p Hi  #{name},
p
  | I hope you are well. My colleague informed me about your interest in website and application development, and I wanted to reach out to see how we can assist you with your project.
p
  | At Codechip, we focus on understanding our clients&apos; needs to deliver tailor-made web and app solutions. Our web development services are priced between $300 USD and $2200 USD, and our app development services range from $450 USD to $3000 USD, based
  | on the project&apos;s complexity.
p
  | You can explore some of our successful projects here:
  br
  a(href='https://www.codechip.in/portfolio') Our Portfolio
p
  | You can explore services:
  br
  a(href='https://www.codechip.in/services') Our Portfolio
p
  | Would you be available for a meeting to discuss your project further? Please suggest a convenient time, and I will arrange it accordingly.
p
  | Thank you for considering Codechip. I look forward to the chance of working together.
p Warm regards,
p Mansab Mir
.signature-card
  img(src='https://i.ibb.co/FJR8gHS/IMG-20230428-003913.jpg', alt="Mansab Mir's Signature")
  .info
    p.name Mansab Mir
    p Sr. Sales Executive
    p Email: mansabmir@codechip.in
    p
      | website:
      a(href='https://www.codechip.in', target='_blank') codechip.in
    p Contac: 8448728057
