doctype html
head
  title Email 
  style.
    .signature-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-width: 400px;
    font-family: Arial, sans-serif;
    display: flex;
    }
    .signature-card img {
    max-width: 100px;
    border-radius: 50%;
    }
    .signature-card .info {
    margin-left: 16px;
    }
    .signature-card .info p {
    margin: 4px 0;
    }
    .signature-card .info .name {
    font-weight: bold;
    font-size: 1.2em;
    }
p Dear #{name},
p
  | I hope this message finds you well. One of my colleagues reached out to you and informed me that you&rsquo;ve shown interest in website and application development related services, and I believe there may be a valuable opportunity for us to work together.
p
  | We at Codechip specialize in providing high-quality web development and app development services tailored to meet our client&rsquo;s specific needs.
p In terms of pricing,
p
  | Our web development services typically range from $300 USD to $2200 USD, depending on the scope and complexity of the project. Similarly, our app development services range from $450 USD to $3000 USD, with the final cost determined by the features and
  | functionalities required.
p
  | I would like to share some of our past work with you to give you a better understanding of the quality of our services. Our portfolio includes projects for a diverse range of clients, showcasing our expertise in creating visually stunning and highly functional
  | websites and applications.
p
  | Our projects:
  a(href='https://www.codechip.in/portfolio') https://www.codechip.in/portfolio
p
  | Our services:
  a(href='https://www.codechip.in/services') https://www.codechip.in/services
p
  | I would like to invite you to an online meeting at your earliest convenience to explore this opportunity further. Please let me know a date and time that works for you, and I will make the necessary arrangements.
p
  | I look forward to the possibility of working together and creating something truly remarkable.
p Warm regards,
p Mansab Mir
.signature-card
  img(src='https://i.ibb.co/FJR8gHS/IMG-20230428-003913.jpg', alt="Mansab Mir's Signature")
  .info
    p.name Mansab Mir
    p Sr. Sales Executive
    p Email: mansabmir@codechip.in
    p
      | website:
      a(href='https://www.codechip.in', target='_blank')  codechip.in
    p Contac: 8448728057
