doctype html
head
  title
  style.
    .signature-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-width: 400px;
    font-family: Arial, sans-serif;
    display:flex;
    }
    .signature-card img {
    max-width: 100px;
    border-radius: 50%;
    }
    .signature-card .info {
    margin-left: 16px;
    }
    .signature-card .info p {
    margin: 4px 0;
    }
    .signature-card .info .name {
    font-weight: bold;
    font-size: 1.2em;
    }
.signature-card
  img(src='https://i.ibb.co/FJR8gHS/IMG-20230428-003913.jpg', alt="Mansab Mir's Signature")
  .info
    p.name Mansab Mir
    p Sr. Sales Executive
    p Email: mansabmir@codechip.in
    p
      | website:
      a(href='https://www.codechip.in')  codechip.in
    p Contac: 8448728057